<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.n7.fr/xtext/Game"
			class = "fr.n7.xtext.game.GamePackage"
			genModel = "model/generated/Game.genmodel" />
	</extension>
</plugin>
